<p id="notice"><%= notice %></p>

<h1>Datasets</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= dataset.title %></td>
        <td><%= link_to 'Show', "/datasets/#{dataset.key}"  %></td>
        <td><%= link_to 'Edit', "/datasets/#{dataset.key}/edit" %></td>
        <td><%= link_to 'Destroy', "/datasets/#{dataset.key}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataset', new_dataset_path %>
