= form_with(model: datafile, local: true, html: {multipart: true}) do |form|
  - if datafile.errors.any?
    #error_explanation
      %h2
        = pluralize(datafile.errors.count, "error")
        prohibited this datafile from being saved:
      %ul
        - datafile.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :dataset_id
    = form.collection_select(:dataset_id, Dataset.all, :id, :title, prompt: 'Choose a dataset')

  .field
    = form.file_field :upload

  .actions
    = form.submit
